*                 whitespace=space-before-tab,trailing-space
*.go              whitespace=indent-with-non-tab,space-before-tab,trailing-space
.git*             export-ignore
.env*             export-ignore
/makefile         export-ignore
/scripts/         export-ignore
/spikes/          export-ignore
